[Unit]
Description={{ service_name }}
After=syslog.target

[Service]
User={{ appuser }}
WorkingDirectory={{ deploy_folder }}
ExecStart=/usr/bin/java -jar {{ app_name }} --server.port={{ jserverport }}
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target


